---
import { IMetaHead } from '@types';
import { info } from '@data';

const { title, description, keywords, author, ogImageUrl } = Astro.props as IMetaHead;
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />
<meta name="strict-transport-security" content="max-age=31536000" />

<!-- Klaviyo integration -->
<script type="text/javascript" src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=WKMTes"></script>
<script>
	!(function () {
		if (!window.klaviyo) {
			window._klOnsite = window._klOnsite || [];
			try {
				window.klaviyo = new Proxy(
					{},
					{
						get: function (n, i) {
							return 'push' === i
								? function () {
										var n;
										(n = window._klOnsite).push.apply(n, arguments);
								  }
								: function () {
										for (var n = arguments.length, o = new Array(n), w = 0; w < n; w++)
											o[w] = arguments[w];
										var t = 'function' == typeof o[o.length - 1] ? o.pop() : void 0,
											e = new Promise(function (n) {
												window._klOnsite.push(
													[i].concat(o, [
														function (i) {
															t && t(i), n(i);
														},
													]),
												);
											});
										return e;
								  };
						},
					},
				);
			} catch (n) {
				(window.klaviyo = window.klaviyo || []),
					(window.klaviyo.push = function () {
						var n;
						(n = window._klOnsite).push.apply(n, arguments);
					});
			}
		}
	})();
</script>

<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
{title && <link rel="canonical" href={`${info.baseUrl}${Astro.url.pathname}`} />}
{title && <title>{`VonkProgramming - ${title}`}</title>}
{title && <meta name="title" content={`${title} - ${info.name}`} />}
{description && <meta name="description" content={description} />}
{keywords && <meta name="keywords" content={keywords} />}
{author && <meta name="author" content={author} />}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y84ZLGD7ES"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'G-Y84ZLGD7ES');
</script>

<!-- preload assests -->
<link rel="preload" href="/assets/fonts/Outfit/Outfit-Regular.ttf" as="font" crossorigin />
