---
import { info } from '@data';

import Layout from '@layouts/Layout.astro';
import Hero from '@components/home/Hero.astro';
import Experience from '@components/home/Experience.astro';
import Skill from '@components/home/Skill.astro';
import ProjectsWrapper from '@components/general/ProjectsWrapper.astro';
import MetaHead from '@components/general/MetaHead.astro';

const featuredSkills = info.skills.filter(skill => skill.featured);

const featuredExperiences = info.experience.slice(0, 3);
const featuredEducation = info.education.slice(0, 3);

const featuredProjects = info.projects.reduce((accumulator, project) => {
	if (accumulator.length < 4 && project.isFeatured) {
		accumulator.push(project);
	}
	return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<MetaHead
			title={'VonkProgramming'}
			description={info.about}
			keywords={info.keywords}
			author={info.name}
			ogImageUrl={'/assets/images/logo.webp'}
		/>
	</head>

	<body>
		<Layout>
			<Hero
				name={info.name}
				jobDescription1={info.jobDescription1}
				jobDescription2={info.jobDescription2}
				about={info.about}
			/>
			<Skill title={'SKILLS'} skills={featuredSkills} />
			<Experience title={'EXPERIENCE'} details={featuredExperiences} />
			<Experience title={'EDUCATION'} details={featuredEducation} />
			<section>
				<h2 class="w-[15rem] dark:text-light mt-16">FEATURE PROJECTS</h2>
				<ProjectsWrapper projects={featuredProjects} />
			</section>
		</Layout>
	</body>
</html>
