---
import { info } from '@data';

import Layout from '@layouts/Layout.astro';
import Hero from '@components/home/Hero.astro';
import MetaHead from '@components/general/MetaHead.astro';
import AllProjects from '@components/projects/AllProjects.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<MetaHead
			title={'VonkProgramming'}
			description={info.about}
			keywords={info.keywords}
			author={info.name}
			ogImageUrl={'/assets/images/logo.webp'}
		/>
	</head>

	<body>
		<Layout>
			<Hero name={info.name} jobDescription1={info.jobDescription1} jobDescription2={info.jobDescription2} />
			<AllProjects title={'PROJECTS'} projects={info.projects} />
		</Layout>
	</body>
</html>
