---
import { info } from '@data';

import Layout from '@layouts/Layout.astro';
import Hero from '@components/home/Hero.astro';
import AllSkill from '@components/home/AllSkill.astro';
import MetaHead from '@components/general/MetaHead.astro';

const featureProjects = info.projects.reduce((accumulator, project) => {
	if (accumulator.length < 6 && project.isFeatured) {
		accumulator.push(project);
	}
	return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<MetaHead
			title={'VonkProgramming'}
			description={info.about}
			keywords={info.keywords}
			author={info.name}
			ogImageUrl={'/assets/images/logo.webp'}
		/>
	</head>

	<body>
		<Layout>
			<Hero name={info.name} jobDescription1={info.jobDescription1} jobDescription2={info.jobDescription2} />
			<AllSkill title={'SKILLS'} details={info.allSkills} />
		</Layout>
	</body>
</html>
