---
import { IBlogs } from '@types';

const { title, blogs } = Astro.props as IBlogs;

function getReadmoreLink(link: string) {
	return link.split('/').pop().split('-').join(' ').toLowerCase();
}
---

<section class="flex items-start justify-between flex-col sm:flex-row dark:text-light">
	<h2 class="w-[15rem] mt-16">{title}</h2>
	<div class="w-full">
		{
			blogs.map(item => (
				<div class="md:my-16 my-8">
					<div>
						<div class="flex justify-between md:flex-row flex-col md:items-center mb-2">
							<h3 class="text-xl font-semibold">{item.title}</h3>
							<p class="text-sm dark:text-gray">{item.date}</p>
						</div>
						<p class="text-base md:text-sm dark:text-gray mb-1">{item.description}</p>
						<a
							href={item.link}
							class="text-sm dark:text-gray underline hover:opacity-70 transition-opacity"
						>
							Read more about {getReadmoreLink(item.link)}
						</a>
					</div>
				</div>
			))
		}
	</div>
</section>
