---
import type { ISkills } from '@types';

const { title, skills } = Astro.props as ISkills;
---

<section class="flex items-start justify-between flex-col sm:flex-row dark:text-light">
	<h2 class="w-[15rem] mt-16">{title}</h2>
	<div class="w-full mt-6 grid lg:grid-cols-3 grid-cols-2 md:gap-x-8 gap-x-2">
		{
			skills.map(item => (
				<div class="md:my-4 my-1 flex justify-between items-center dark:border-slate-300 border-slate-600 border md:p-4 px-2 py-3 dark:text-light text-black no-underline md:rounded rounded-lg dark:hover:bg-slate-900 hover:bg-slate-200 transition">
					<div class="flex md:gap-2 gap-1 items-center">
						<div class="md:w-10 md:h-10 w-6 h-6 rounded-full bg-slate-300 dark:bg-slate-100 flex justify-center items-center">
							<img
								src={item.logo}
								alt={item.title}
								title={item.title}
								loading="lazy"
								class="md:w-6 md:h-6 w-4 h-4"
							/>
						</div>
						<h3 class="md:text-lg text-sm">{item.title}</h3>
					</div>
					<p class="md:text-sm text-xs dark:text-gray text-slate-600">{item.years} years</p>
				</div>
			))
		}
		<div class="lg:col-span-3 col-span-2 text-center mt-4 md:text-base text-sm">
			<a class="text-white underline hover:opacity-70 transition-opacity" href="/skills">
				Check all of my skills
			</a>
		</div>
	</div>
</section>
